<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<target includeMode="feature" name="hu.blackbelt.judo.tatami.eclipse.target" sequenceNumber="1558342632">
  <locations>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <repository location="http://download.eclipse.org/releases/2019-12"/>
	    <unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="0.0.0"/>
	    <unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="0.0.0"/>
	    <unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
	    <unit id="org.eclipse.pde.source.feature.group" version="0.0.0"/>
	    <unit id="org.eclipse.equinox.core.sdk.feature.group" version="0.0.0"/>
	    <unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
	    <unit id="org.eclipse.e4.core.tools.feature.source.feature.group" version="0.0.0"/>
	    <unit id="org.eclipse.sdk.feature.group" version="0.0.0"/>
    </location>
	  <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		  <unit id="org.eclipse.epsilon.core.dt.feature.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.epsilon.core.feature.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.epsilon.emc.graphml.feature.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.epsilon.emc.spreadsheets.excel.dt.feature.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.epsilon.emc.spreadsheets.excel.feature.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.epsilon.emc.spreadsheets.feature.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.epsilon.emc.spreadsheets.google.dt.feature.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.epsilon.emc.spreadsheets.google.feature.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.epsilon.emf.dt.feature.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.epsilon.emf.feature.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.epsilon.eunit.dt.emf.feature.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.epsilon.evl.emf.validation.feature.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.epsilon.ewl.emf.feature.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.epsilon.ewl.gmf.feature.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.epsilon.simulink.dt.feature.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.epsilon.simulink.feature.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.epsilon.uml.dt.feature.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.epsilon.uml.feature.feature.group" version="0.0.0"/>
		  <repository location="http://download.eclipse.org/epsilon/updates"/>
	  </location>
	  <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		  <unit id="hu.blackbelt.eclipse.emf.genmodel.generator.feature.feature.group" version="0.0.0"/>
		  <repository location="https://nexus.judo.technology/repository/p2/emf-genmodel-generator/1.0.0"/>
	  </location>
	  <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		  <unit id="hu.blackbelt.judo.eclipse.emf.genmodel.generator.feature.feature.group" version="0.0.0"/>
		  <repository location="https://nexus.judo.technology/repository/p2/judo-genmodel-generator/1.0.0.20200130_232426_224b5ae_1_0_beta1"/>
	  </location>
	  <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		  <unit id="hu.blackbelt.epsilon.runtime.feature.feature.group" version="0.0.0"/>
		  <repository location="https://nexus.judo.technology/repository/p2/epsilon-runtime-eclipse/1.2.0"/>
	  </location>
	  
	  
	  
	  <!-- //////////////////////// Models \\\\\\\\\\\\\\\\\\\\\\\\\ -->
	  <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		  <repository location="https://nexus.judo.technology/repository/p2/judo-meta-asm/1.0.0.20200131_125057_1051352_1_0_beta1"/>
		  <unit id="hu.blackbelt.judo.meta.asm.feature.feature.group" version="0.0.0"/>
	  </location>

      <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
  		  <repository location="https://nexus.judo.technology/repository/p2/judo-meta-esm/1.1.0.20200131_022718_716ef58_1_0_beta1"/>
  		  <unit id="hu.blackbelt.judo.meta.esm.feature.feature.group" version="0.0.0"/>
          <unit id="hu.blackbelt.judo.meta.esm.designer.feature.feature.group" version="0.0.0"/>
      </location>

	  <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		  <repository location="https://nexus.judo.technology/repository/p2/judo-meta-psm/1.0.0.20200131_103050_48a7a6c_1_0_beta1"/>
		  <unit id="hu.blackbelt.judo.meta.psm.feature.feature.group" version="0.0.0"/>
	  </location>

	  <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		  <repository location="https://nexus.judo.technology/repository/p2/judo-meta-measure/1.0.0.20200131_121641_0b15242_1_0_beta1"/>
		  <unit id="hu.blackbelt.judo.meta.measure.feature.feature.group" version="0.0.0"/>
	  </location>

	  <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		  <repository location="https://nexus.judo.technology/repository/p2/judo-meta-jql/1.0.0.20200131_122339_903c0eb_1_0_beta1"/>
		  <unit id="hu.blackbelt.judo.meta.jql.feature.feature.group" version="0.0.0"/>
	  </location>

	  <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		  <repository location="https://nexus.judo.technology/repository/p2/judo-meta-rdbms/1.0.0.20200131_122622_529a366_1_0_beta1"/>
		  <unit id="hu.blackbelt.judo.meta.rdbms.feature.feature.group" version="0.0.0"/>
	  </location>

	  <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		  <repository location="https://nexus.judo.technology/repository/p2/judo-meta-liquibase/1.0.0.20200131_150239_fbcba0d_1_0_beta1"/>
		  <unit id="hu.blackbelt.judo.meta.liquibase.feature.feature.group" version="0.0.0"/>
	  </location>

	  <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		  <repository location="https://nexus.judo.technology/repository/p2/judo-meta-expression/1.0.0.20200131_130902_8b42ac8_1_0_beta1"/>
		  <unit id="hu.blackbelt.judo.meta.expression.feature.feature.group" version="0.0.0"/>
	  </location>

	  <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		  <repository location="https://nexus.judo.technology/repository/p2/judo-jql-ide-eclipse/1.0.0.20200131_135908_49b64a5_1_0_beta1"/>
		  <unit id="hu.blackbelt.judo.jql.ide.eclipse.feature.feature.group" version="0.0.0"/>
	  </location>

	  <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		  <repository location="https://nexus.judo.technology/repository/p2/judo-jcl-ide-eclipse/1.0.0.20200131_144426_a334716_1_0_beta1"/>
		  <unit id="hu.blackbelt.judo.jcl.ide.eclipse.feature.feature.group" version="0.0.0"/>
	  </location>

	  <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      	  <repository location="https://nexus.judo.technology/repository/p2/judo-meta-openapi/1.0.0.20200131_121809_d847470_1_0_beta1"/>
      	  <unit id="hu.blackbelt.judo.meta.openapi.feature.feature.group" version="0.0.0"/>
      </location>

	  <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      	  <repository location="https://nexus.judo.technology/repository/p2/judo-meta-script/1.0.0.20200131_140238_425a17f_1_0_beta1"/>
      	  <unit id="hu.blackbelt.judo.meta.script.feature.feature.group" version="0.0.0"/>
      </location>

	  <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      	  <repository location="https://nexus.judo.technology/repository/p2/judo-meta-jcl/1.0.0.20200131_133250_6480762_1_0_beta1"/>
      	  <unit id="hu.blackbelt.judo.meta.jcl.feature.feature.group" version="0.0.0"/>
      </location>

	  <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      	  <repository location="https://nexus.judo.technology/repository/p2/judo-script-codegen/1.0.0.20200131_144038_88a36e7_1_0_beta1"/>
      	  <unit id="hu.blackbelt.judo.script.codegen.feature.feature.group" version="0.0.0"/>
      </location>

  	  <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		  <unit id="com.fasterxml.jackson.core.jackson-annotations" version="2.9.10"/>
		  <unit id="com.fasterxml.jackson.core.jackson-core" version="2.9.10"/>
		  <unit id="com.fasterxml.jackson.core.jackson-databind" version="2.9.10"/>
		  <unit id="com.fasterxml.jackson.dataformat.jackson-dataformat-yaml" version="2.9.10"/>
		  <unit id="com.google.guava" version="27.0.1.android"/>
		  <unit id="io.swagger.annotations" version="1.5.24"/>
		  <unit id="io.swagger.core" version="1.5.24"/>
		  <unit id="io.swagger.models" version="1.5.24"/>
		  <unit id="javax.validation.api" version="1.1.0.Final"/>
		  <unit id="org.apache.commons.lang3" version="3.2.1"/>
		  <unit id="org.yaml.snakeyaml" version="1.23.0"/>
		  <unit id="slf4j.api" version="1.7.22"/>
		  <repository location="https://nexus.judo.technology/repository/p2/p2-swagger/1.0.1"/>
	  </location>
      

	  <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		  <unit id="com.google.gson" version="2.8.2.v20180104-1110"/>
		  <unit id="org.eclipse.acceleo.query.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.acceleo.query.source.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.acceleo.ui.interpreter.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.acceleo.ui.interpreter.source.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.eef.ext.widgets.reference.feature.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.eef.ext.widgets.reference.feature.source.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.eef.sdk.feature.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.eef.sdk.feature.source.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.elk.algorithms.feature.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.elk.algorithms.feature.source.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.elk.feature.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.elk.feature.source.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.elk.graphviz.feature.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.elk.graphviz.feature.source.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.sirius.aql.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.sirius.aql.source.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.sirius.diagram.elk.feature.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.sirius.diagram.elk.feature.source.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.sirius.doc.feature.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.sirius.doc.feature.source.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.sirius.interpreter.feature.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.sirius.interpreter.feature.source.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.sirius.properties.feature.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.sirius.properties.feature.source.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.sirius.runtime.acceleo.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.sirius.runtime.acceleo.source.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.sirius.runtime.aql.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.sirius.runtime.aql.source.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.sirius.runtime.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.sirius.runtime.ide.eef.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.sirius.runtime.ide.eef.source.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.sirius.runtime.ide.ui.acceleo.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.sirius.runtime.ide.ui.acceleo.source.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.sirius.runtime.ide.ui.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.sirius.runtime.ide.ui.source.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.sirius.runtime.ide.xtext.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.sirius.runtime.ide.xtext.source.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.sirius.runtime.ocl.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.sirius.runtime.ocl.source.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.sirius.runtime.source.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.sirius.samples.properties.feature.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.sirius.samples.properties.feature.source.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.sirius.specifier.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.sirius.specifier.ide.ui.acceleo.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.sirius.specifier.ide.ui.acceleo.source.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.sirius.specifier.ide.ui.aql.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.sirius.specifier.ide.ui.aql.source.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.sirius.specifier.ide.ui.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.sirius.specifier.ide.ui.source.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.sirius.specifier.properties.feature.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.sirius.specifier.properties.feature.source.feature.group" version="0.0.0"/>
		  <unit id="org.eclipse.sirius.specifier.source.feature.group" version="0.0.0"/>
		  <repository location="https://download.eclipse.org/sirius/updates/releases/6.3.0/photon/"/>
	  </location>
  </locations>
  <targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
</target>